<div class="container pt-1 pb-1">
  <div class="menuTop row">
    <div class="menuTopLeft pl-4"><span>Đường dây nóng hỗ trợ <b>1900 54 54 81</b></span></div>
    <div class="menuTopRight">
      <ul>
        <li class="form-inline search pl-1">
          <i class="fas fa-search"></i>
          <input type="text" placeholder="Tìm kiếm">
        </li>
        <li><a href="">Login</a></li>
        <li><a href="">Liên hệ</a></li>
        <li><a href="">Hỏi đáp</a></li>
        <li><a href="">Giới thiệu</a></li>
    </ul>
  </div>
  </div>
</div>

