<div class="container-fluid" style="background: #ececec">
  <app-menu-top></app-menu-top>
</div>
<div class="container">
  <app-menu-mid></app-menu-mid>
</div>
<div class="container-fluid" style="background: #FCB71E">
  <app-menu-bot></app-menu-bot>
</div>
<app-carousel></app-carousel>
<div class="container mt-5">
  <div class="row">
    <div class="col-4">
      <app-body-left></app-body-left>
    </div>
    <div class="col-7 ml-2">
      <app-body-right></app-body-right>
    </div>
  </div>
</div>
