<h4>CHUYÊN TRANG</h4>
<div class="left" style="border-radius: 5px; background: #f7f7f7; border: 1px solid #ddd">
  <div class="row m-1 " style="border-bottom: 1px solid #dcdcdc">
    <div class="col-2 mt-2">
      <img src="http://www.vnpost.vn/Portals/0/banner%20logo/Recycle.png" alt="" style="border-radius: 50%; background: #faa61a">
    </div>
    <div class="col-9 mt-1" >
      <b style="font-size: 14px;">Nói không với rác thải nhựa</b>
      <p style="font-size: 11px; color: #868686">Bưu điện Việt Nam Vì một cuộc sống xanh</p>
    </div>
  </div>
  <div class="row m-1 " style="border-bottom: 1px solid #dcdcdc">
    <div class="col-2 mt-2">
      <img src="http://www.vnpost.vn/Portals/0/banner%20logo/Recycle.png" alt="" style="border-radius: 50%; background: #faa61a">
    </div>
    <div class="col-9 mt-1" >
      <b style="font-size: 14px;">Nói không với rác thải nhựa</b>
      <p style="font-size: 11px; color: #868686">Bưu điện Việt Nam Vì một cuộc sống xanh</p>
    </div>
  </div>
  <div class="row m-1 " style="border-bottom: 1px solid #dcdcdc">
    <div class="col-2 mt-2">
      <img src="http://www.vnpost.vn/Portals/0/banner%20logo/Recycle.png" alt="" style="border-radius: 50%; background: #faa61a">
    </div>
    <div class="col-9 mt-1" >
      <b style="font-size: 14px;">Nói không với rác thải nhựa</b>
      <p style="font-size: 11px; color: #868686">Bưu điện Việt Nam Vì một cuộc sống xanh</p>
    </div>
  </div>
  <div class="row m-1 " style="border-bottom: 1px solid #dcdcdc">
    <div class="col-2 mt-2">
      <img src="http://www.vnpost.vn/Portals/0/banner%20logo/Recycle.png" alt="" style="border-radius: 50%; background: #faa61a">
    </div>
    <div class="col-9 mt-1" >
      <b style="font-size: 14px;">Nói không với rác thải nhựa</b>
      <p style="font-size: 11px; color: #868686">Bưu điện Việt Nam Vì một cuộc sống xanh</p>
    </div>
  </div>
  <div class="row m-1 " style="border-bottom: 1px solid #dcdcdc">
    <div class="col-2 mt-2">
      <img src="http://www.vnpost.vn/Portals/0/banner%20logo/Recycle.png" alt="" style="border-radius: 50%; background: #faa61a">
    </div>
    <div class="col-9 mt-1" >
      <b style="font-size: 14px;">Nói không với rác thải nhựa</b>
      <p style="font-size: 11px; color: #868686">Bưu điện Việt Nam Vì một cuộc sống xanh</p>
    </div>
  </div>
  <div class="row m-1 " style="">
    <div class="col-2 mt-2">
      <img src="http://www.vnpost.vn/Portals/0/banner%20logo/Recycle.png" alt="" style="border-radius: 50%; background: #faa61a">
    </div>
    <div class="col-9 mt-1" >
      <b style="font-size: 14px;">Nói không với rác thải nhựa</b>
      <p style="font-size: 11px; color: #868686">Bưu điện Việt Nam Vì một cuộc sống xanh</p>
    </div>
  </div>
</div>
