<div class="row">
  <div class="col-3 m-3">
    <img src="http://www.vnpost.vn/Portals/_default/Skins/VNPost.Skins.FrontEnd/img/vnpost-logo1.png" alt=""
         width="160%">
  </div>
  <div class="col-3 ml-5"></div>
  <div class="col-2 m-3 mt-4">
    <div class="row">
      <div class="col-3">
        <div class="" style="width: 50px; height: 50px; border: 2px solid #f7a81b; border-radius: 50% ">
          <a href="" style="line-height: 40px; padding-left: 10px">
            <img src="http://www.vnpost.vn/Portals/_default/Skins/VNPost.Skins.FrontEnd/img/mess.png" alt=""
                 width="60%">
          </a>
        </div>
      </div>
      <div class="col-8 ml-1 mt-1" style="font-size: 12px">
        <b>Đánh giá &</b>
        <p style="font-size: 15px">KHIẾU NẠI</p>
      </div>
    </div>
  </div>  <div class="col-2 m-3 mt-4">
  <div class="row">
    <div class="col-3">
      <div class="" style="width: 50px; height: 50px; border: 2px solid #f7a81b; border-radius: 50% ">
        <a href="" style="line-height: 40px; padding-left: 10px">
          <img src="http://www.vnpost.vn/Portals/_default/Skins/VNPost.Skins.FrontEnd/img/recruitment.png" alt=""
               width="60%">
        </a>
      </div>
    </div>
    <div class="col-8 ml-1 mt-1" style="font-size: 12px">
      <b>Tin</b>
      <p style="font-size: 15px">TUYỂN DỤNG</p>
    </div>
  </div>
</div>

</div>
