<h4>TIN TỨC</h4>
<div class="row">
  <div class="col-5">
    <div class="row">
      <img src="http://www.vnpost.vn/ImageCaching.ashx?file=%2fPortals%2f0%2fanh+tin+tuc%2f2020-1%2fThang+2%2fChuyen+tien+t%e1%ba%a1i+buu+dien.jpg&size=3&ver=8" alt="" width="100%">
    </div>
    <div class="row mt-1"><b style="font-size: 12px">Tuyên Quang: Giải quyết thủ tục hành chính qua dịch vụ BCCI - Cần sự chung tay của các cơ quan, người dân và doanh nghiệp</b></div>
    <div class="row mt-1" style="font-size: 12px; color:#BABABA;">
      19/02/2020
    </div>
    <div class="row mt-1" style="font-size: 11px; ">
      Qua 3 năm triển khai thực hiện, việc tiếp nhận và trả kết quả giải quyết các thủ tục hành chính qua dịch vụ Bưu chính công ích (BCCI) đã giải quyết tốt các yêu cầu của tổ chức và...
    </div>
  </div>
  <div class="col-7">
    <div class="row">
      <div class="col-4">
        <img src="http://www.vnpost.vn/ImageCaching.ashx?file=%2fPortals%2f0%2fanh+tin+tuc%2f2020-1%2fThang+2%2fSB2957-40.jpg&size=3&ver=2" width="120%" alt="">
      </div>
      <div class="col-7" style="font-size: 11px; ">
        <b>Tuyên Quang: Giải quyết thủ tục hành chính qua dịch vụ BCCI - Cần sự chung tay của các cơ quan, người dân và doanh nghiệp</b>
        <div class="" style="font-size: 12px; color:#BABABA;">
          19/02/2020
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img src="http://www.vnpost.vn/ImageCaching.ashx?file=%2fPortals%2f0%2fanh+tin+tuc%2f2020-1%2fThang+2%2fSB2957-40.jpg&size=3&ver=2" width="120%" alt="">
      </div>
      <div class="col-7" style="font-size: 11px; ">
        <b>Tuyên Quang: Giải quyết thủ tục hành chính qua dịch vụ BCCI - Cần sự chung tay của các cơ quan, người dân và doanh nghiệp</b>
        <div class="" style="font-size: 12px; color:#BABABA;">
          19/02/2020
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img src="http://www.vnpost.vn/ImageCaching.ashx?file=%2fPortals%2f0%2fanh+tin+tuc%2f2020-1%2fThang+2%2fSB2957-40.jpg&size=3&ver=2" width="120%" alt="">
      </div>
      <div class="col-7" style="font-size: 11px; ">
        <b>Tuyên Quang: Giải quyết thủ tục hành chính qua dịch vụ BCCI - Cần sự chung tay của các cơ quan, người dân và doanh nghiệp</b>
        <div class="" style="font-size: 12px; color:#BABABA;">
          19/02/2020
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img src="http://www.vnpost.vn/ImageCaching.ashx?file=%2fPortals%2f0%2fanh+tin+tuc%2f2020-1%2fThang+2%2fSB2957-40.jpg&size=3&ver=2" width="120%" alt="">
      </div>
      <div class="col-7" style="font-size: 11px; ">
        <b>Tuyên Quang: Giải quyết thủ tục hành chính qua dịch vụ BCCI - Cần sự chung tay của các cơ quan, người dân và doanh nghiệp</b>
        <div class="" style="font-size: 12px; color:#BABABA;">
          19/02/2020
        </div>
      </div>
    </div>
  </div>
</div>
